header{
    background-color: rgb(56, 236, 176);
    text-align: center;
}
.colorear1 {
    box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
}
.colorear2 {
    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
}
h1{
    font-family: roboto slab;
    color: aquamarine;
    font-size: 5vw;
}
.main{
    text-align: center;
    font-size: 55;
    font-weight: 800;
    background-color: aqua;
    color: #d66;
}